<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "services", "router_poll")%>', null,
		function(x, st) {
			if (st) {
				var ngs = document.getElementById('sens-neighbours');
				if (ngs) {
					while (ngs.rows.length > 1) {
						ngs.rows[1].parentNode.removeChild(ngs.rows[1]);
					}
					for (var i = 0; i < st.neighbours.length; i++) {
						var tr = ngs.insertRow(-1);
						tr.className = 'cbi-section-table-row cbi-rowstyle-2';
						tr.insertCell(-1).innerHTML = String.format('%s', st.neighbours[i].addr);
						tr.insertCell(-1).innerHTML = String.format('%s', st.neighbours[i].state);
					}
				}
				var rts = document.getElementById('sens-routes');
				if (rts) {
					while (rts.rows.length > 1) {
						rts.rows[1].parentNode.removeChild(rts.rows[1]);
					}
					for (var i = 0; i < st.routes.length; i++) {
						var tr = rts.insertRow(-1);
						var addr = st.routes[i].addr.replace(/\/128/, "");
						tr.className = 'cbi-section-table-row cbi-rowstyle-2';
						tr.insertCell(-1).innerHTML = String.format('<a href="%s">%s</a>',
							'<%=luci.dispatcher.build_url("admin", "services", "sensors")%>' + '/' + addr,
							addr
						);
						tr.insertCell(-1).innerHTML = String.format('%s', st.routes[i].hop);
						tr.insertCell(-1).innerHTML = String.format('%s', st.routes[i].life);
					}
				}
			}
		}
	);
//]]></script>

<fieldset class="cbi-section">
	<legend><%:Neighbours%></legend>
	<table class="cbi-section-table" style="margin:10px" id="sens-neighbours">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell"><%:Address%></th>
			<th class="cbi-section-table-cell"><%:State%></th>
		</tr>
		<tr class="cbi-section-table-row cbi-rowstyle-2">
			<td class="cbi-value-field" colspan="2">
				<em><%:Collecting data...%></em>
			</td>
		</tr>
	</table>
</fieldset>

<fieldset class="cbi-section">
	<legend><%:Routes%></legend>
	<table class="cbi-section-table" style="margin:10px" id="sens-routes">
		<tr class="cbi-section-table-titles">
			<th class="cbi-section-table-cell"><%:Address%></th>
			<th class="cbi-section-table-cell"><%:Next Hop%></th>
			<th class="cbi-section-table-cell"><%:Lifetime%></th>
		</tr>
		<tr class="cbi-section-table-row cbi-rowstyle-2">
			<td class="cbi-value-field" colspan="3">
				<em><%:Collecting data...%></em>
			</td>
		</tr>
	</table>
</fieldset>

